@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

/* Style global */
body {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;
    height: 20vh;
    background-color: #f0f0f0;
    display: grid;
}

/* Conteneur de recherche */
.search-container {
    background-color: #f0f0f0;
    z-index: 1;
    display: flex;
    position: absolute;
    top: 0%;
    left: 80%;
    align-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: 3px solid transparent;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* ombre de l'element */
    top: 190px;
    left: 1300px;
    
}

.search-container:hover {
    border: 3px solid #6600FF; /* au survol de la souris */
}

/* Champ de recherche */
.search-input {
        border: none;
        outline: none;
        padding: 10px;
        font-size: 16px;
        flex-grow: 1;
        border-radius: 25px;
        position: relative;
    }

/* Bouton de recherche */
.search-button {    
    color : white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer; /* Indique que c'est un bouton cliquable */
    all: unset; /* Retire tous les styles de base */
}

.search-button:hover {   
 
    transform: rotate(360deg); /* Tour complet */
    transition: transform 0.5s ease-in-out; /* Transition fluide */
}

.image img {   
    z-index: 1;
    border: 10px solid #6600FF;    
    display: flex;
    position: absolute;
    right: 80%;
    top: 0;
    bottom: 10%;
    box-shadow: 10px 10px 0px rgba(96, 96, 96, 1); 
    border-radius: 5%;
    left: 400px;
    top: 300px;
}

#heroName {
    z-index: 1;           
    position: absolute;
    left: 40%;
    justify-self: center;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: xx-large;
    top: 330px;
    left: 1100px;
}

#stats {
    position: absolute;
    left: 40%;
    justify-self: center;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: x-large;
    top: 565px;
    left: 1110px;
    font-weight: 400;
    z-index: 2; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les paddings et bordures dans la taille des éléments */
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(37,6,83);
    background: linear-gradient(0deg, rgba(37,6,83,1) 0%, rgba(66,3,161,1) 46%, rgba(102,0,255,1) 100%);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#pageLogo {
    position: relative;
    z-index: 1;
    top: 70px;  
    left: 125px; 
}

#couleur1 {
    color: white;
}

#couleur2 {
    color: #6600FF;
}

#backgroundBlock {
    width: 1350px; /* largeur */
    height: 800px; /* hauteur */
    background-color: #000000; /* couleur de fond */
    border-radius: 20px; /* angles arrondis */
    margin: 40px 45px; /* espace externe (centré) */
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.6); /* ombre */
    z-index: -1;
    overflow: hidden;
}

.dotElement {
    position: relative;
    left: 750px;
    top: 200px;
}

.textbox {
	background-color: rgba(102, 0, 255, 0.8);
	/* opacity: 0.8; */
	font-family: 'Istok Web', sans-serif;
	color: #FFFFFF;
	padding: 20px;
    padding-right: 50px;
	margin: 15px;
	border-radius: 10px;
	letter-spacing: 1px;
	text-align: left;
	width: fit-content;
	height: fit-content;
	position: absolute;
    width: 320px;
    line-height: 25px;
    position: absolute;
    z-index: 1;
}

#description {
    top: 380px;
    right: 470px;
}

#statistics {
    top: 530px;
    right: 470px;
    margin-top: 50px;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

h3, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

#couleur3 {
    color: rgb(96, 96, 96);
}

.logoMenu {
    position: absolute;
    z-index: 1;
    top: 390px;  
    left: 830px; 
}

h3 {
    position: absolute;
    z-index: 1;
    top: 450px;  
    left: 878px;  
}

h5 {
    position: absolute;
    z-index: 1;
    top: 600px;  
    left: 750px;  
}

.dotElementmenu {
    position: relative;
    justify-self: center;
    bottom: 340px;
    right: 590px;
}

#icon {
    position: absolute;
    z-index: 1;
    top: 588px;  
    left: 700px; 
    transition: transform 1.4s ease; /* Transition fluide */
}

#icon:hover {
    transform: rotate(360deg); /* Rotation à 360° */
}

#playiconMenu {
    position: absolute;
    z-index: 1;
    top: 398px;  
    left: 1049px; 
    opacity: 0.5; /* Complètement visible par défaut */
    transition: opacity 0.3s ease; /* Transition fluide */
}

#playiconMenu:hover {
    scale:1.09;
    opacity: 1;
}

#playicon {
    position: absolute;
    z-index: 1;
    top: 200px;  
    left: 630px; 
    opacity: 0.5; /* Complètement visible par défaut */
    transition: opacity 0.3s ease;
}

#playicon:hover {
    /* transform: scale(1.1); */ /* Léger agrandissement */
   /*  animation: pulse 0.6s infinite; */ /* Animation continue */
   scale:1.07;
   opacity: 1;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* État initial et final */
    }
    50% {
        transform: scale(1.2); /* État intermédiaire */
    }
}

.search-containerMenu {
    background-color: #f0f0f0;
    z-index:1;
    display: flex;
    position: absolute;
    align-items:center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* ombre de l'element */ 
}

.search-containerMenu:hover {
    border: 3px solid #6600FF;    /* au survol de la souris */
}

/* Champ de recherche */
.search-inputMenu {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    border-radius: 25px;
    position: relative;
    padding-right: 150px;
}

/* Bouton de recherche */
.search-buttonMenu {    
    color : white;
    border: "none";
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer; /* Indique que c'est un bouton cliquable */
    all: unset; /* Retire tous les styles de base */
    justify-self: right; 
}

.search-buttonMenu:hover {
    transform: rotate(360deg); /* Tour complet */
    transition: transform 0.5s ease-in-out; /* Transition fluide */
}

.master-controls {
    display: none;
    visibility: hidden;
}

.tape-controls-play {
    mask-image: url(ressources/img/118621_play_icon.png);
    mask-size: contain;
    height: 27px;
    width: 26px;
}

.tape-controls-playMENU {
    mask-image: url(ressources/img/flashICONMENU.png);
    mask-size: contain;
    height: 36px;
    width: 36px;
}

a {
    text-decoration: none; /* Supprime le soulignement */ 
}

#LINKtoMENU {
    position: absolute;
    top: 188px;
    left: 400px;
}